---
--- 

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$primary-color: #050a30;
$primary-color-tinted: rgba($primary-color, 0.7);
$primary-color-overlay: linear-gradient(0deg, $primary-color-tinted, $primary-color-tinted);
$font-stack: 'Josefin Sans', sans-serif;

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    font-family: $font-stack;
    font-variant: small-caps
}

a {

    color: white;
    text-decoration: none;
}

/* Mobile */

@mixin mobile-menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

@mixin mobile-menu-item {

    display: none;
    width: 100%;
    padding: 15px 5px;
    text-align: center;
}

.menu {

    @include mobile-menu;

    &__item {

        @include mobile-menu-item;

        &--dropdown {

            width: 100%;
            display: none;
        }

        &--name,
        &--toggle {

            padding: 10px;
            font-size: 24px;
        }
    }
}

.submenu {

    @include mobile-menu;
    background: lighten($primary-color, 5%);

    &__item {

        @include mobile-menu-item;

        &--header {

            @extend .submenu__item;
            display: block;
        
            text-align: center;
            background: $primary-color;
            color: white;
            max-height: 50px;
        }
    }
}

.active .menu__item,
.active .submenu__item,
.active .menu__item--dropdown {

    display: block;
}

.navbar {

    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 20px;
    background: $primary-color;
}

.container {

    scroll-snap-type: y mandatory;

    &__partial {

        scroll-snap-align: start;
        height: 100vh;
        width: 100%;        
    }
}

.parallax {

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--intro {
        
        @extend .parallax;
        background: $primary-color-overlay, url('../img/stock/living-room-ncr.jfif');
    }

    &__caption {

        position: absolute;
        left: 0;
        top: 30%;
        width: 100%;
        text-align: center;

        span {

            display: block;
    
            color: white;
            font-size: 36px;
            word-spacing: 100vw;
        }
    
        a {
            display: block;
            margin: 10px auto;
            font-size: 18px;
            width: 90px;
            padding: 5px;
        
            border: 1px solid white;
        }
    }
}

.logo {
    
    &--medium {

        height: 100px;
    }
}